<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fare.eco.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.AboutActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.LocationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.Near_WebViewActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SettingActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SelectCityActivity"
            android:launchMode="singleTask" />

        <!-- 主页面的16个activity -->

        <activity
            android:name=".activity.navigationact.food.FoodListActivity"
            android:label="@string/title_activity_food_list"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".activity.navigationact.food.FoodDetailActivity"
            android:label="@string/title_activity_food_list"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".activity.mine.UserInfoActivity"
            android:launchMode="singleTask" />

        <!-- 百度map的key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="cw5BplUMpXrzgGEc8bQrXZWo" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

    </application>

</manifest>
